<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/shared.css">
    <link rel="stylesheet" href="/media.css">
    <title>movie</title>
    
</head>
<body>
    <div id="head">
        <a href="/home">Home</a>
        <h1 id="title">{{title}}</h1>
        <p id="creator">Directed by {{creator}}</p>
    </div>
    <div id="content">
        <div id="details">
            <p id="genre"><strong>Genres:</strong> {{genre}}</p>
            <p id="description"><strong>Description:</strong> {{description}}</p>
            <div id="cast_list">
                <p><strong>Cast:</strong>{{cast_list}}</p>
            </div>
        </div>
        <div id="cover_details">
            <p id="tagline">{{tagline}}</p>
            <p id="runtime"><strong>Runtime:</strong> {{runtime}}</p>
            <p class="rating"><strong>Rating:</strong>{{avgRate}}</p>
            <div id="rating_form"> 
                <form id="user_rating_form"> 
                    <label for="user_rating">Your rating(1-10): </label> 
                    <input type="number" id="user_rating" name="user_rating" min="1" max="10" value="{{userRateValue}}"> 
                    <input type="submit" value="Submit Rating"> 
                </form> 
            </div>
        </div>
    </div>

    <script> 
        document.getElementById("user_rating_form").addEventListener("submit", async function(event) { 
            event.preventDefault(); 

            const userRating = document.getElementById("user_rating").value; 

            console.log(userRating);

            const mediaId = window.location.pathname.split("/").pop(); 

            const response = await fetch(`/rate_media/${mediaId}`, { 
                method: "POST", 
                headers: { "Content-Type": "application/json" }, 
                body: JSON.stringify({ rating: userRating }) }); 

                const result = await response.json(); 

                alert(result.message); 
        }); 

    </script>
</body>
</html>
